.admin-form
    max-height: 0
    overflow: hidden
    transition: max-height 0.3s linear

    &.shown
        max-height: 100em
        transition: max-height 0.2s ease

.create-project
    input
        display: block