.admin-form
    max-height: 0
    overflow: hidden
    transition: max-height 0.2s linear

    &.shown
        max-height: 50em
        transition: max-height 0.3s linear

.admin-buttons
    padding: 1em 0

.create-project
    input
        display: block

.create-project, .create-blog
    h3
        margin: 0.5em 0 1em

ul
    padding: 0
    margin: 0
    list-style-type: none