<div class="row">
    <button class="btn btn-default pull-right" ng-click="logout()">Log out</button>
    <button class="btn btn-default pull-right" ng-click="mode='blog'"
            ng-class="{'btn-info': mode=='blog'}">Create Blog
    </button>
    <button class="btn btn-default pull-right" ng-click="mode='project'"
            ng-class="{'btn-info': mode=='project'}">Create Project
    </button>
</div>

<div class="admin-form" ng-class="{shown: mode=='blog'}">
    <div ng-include="'partials/createBlog'" ng-show="mode=='blog'"></div>
</div>

<div class="admin-form" ng-class="{shown: mode=='project'}">
    <div ng-include="'partials/createProject'" ng-show="mode=='project'"></div>
</div>

<div class="row">
    <ul class="list-group">
        <li ng-repeat="b in blogs" class="list-group-item">
            {{ b.title }} (id: {{ b.id }})
            <div class="pull-right">
                <button class="btn btn-sm btn-info" ng-click="editBlog(b.id)">Edit</button>
                <button class="btn btn-sm btn-danger" ng-click="deleteBlog(b.id)">Delete</button>
            </div>
        </li>
    </ul>
</div>
