<div class="row admin-buttons">
    <button class="bttn bttn-default pull-right" ng-click="logout()">Log out</button>
    <button class="bttn bttn-default pull-right" ng-click="changeTab('blog')"
            ng-class="{'bttn-info': mode=='blog'}">Create Blog
    </button>
    <button class="bttn bttn-default pull-right" ng-click="changeTab('project')"
            ng-class="{'bttn-info': mode=='project'}">Create Project
    </button>
</div>

<div class="admin-form" ng-class="{shown: mode=='blog'}">
    <div ng-include="'partials/createBlog'"></div>
</div>

<div class="admin-form" ng-class="{shown: mode=='project'}">
    <div ng-include="'partials/createProject'"></div>
</div>

<div class="box clearfix">
    <div class="col-md-6">
        <div class="alert alert-info" ng-if="loadingBlogs">Loading blogs...</div>
        <div class="alert alert-warning" ng-if="!blogs.length && !loadingBlogs">There are no blogs</div>
        <ul>
            <li ng-repeat="b in blogs" class="list-group-item clearfix">
                <div class="pull-left">{{ b.title }}
                    <small>(id: {{ b.id }})</small>
                </div>
                <div class="pull-right">
                    <button class="bttn bttn-sm bttn-info" ng-click="editBlog(b.id)">Edit</button>
                    <button class="bttn bttn-sm btn-danger" ng-click="deleteBlog(b.id)">Delete</button>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <div class="alert alert-info" ng-if="loadingProjects">Loading projects...</div>
        <div class="alert alert-warning" ng-if="!projects.length && !loadingProjects">There are no projects</div>
        <ul>
            <li ng-repeat="p in projects" class="list-group-item clearfix">
                <div class="clearfix">
                    <div class="pull-left">{{ p.title }}
                        <small>(id: {{ p.id }})</small>
                    </div>

                    <div class="pull-right">
                        <button class="bttn bttn-sm bttn-default" ng-click="showDetail=!showDetail"
                                ng-class="{'bttn-info': !showDetail}">Detail
                        </button>
                        <button class="bttn bttn-sm bttn-info" ng-click="showDetail=false;editProject(p.id)">Edit
                        </button>
                        <button class="bttn bttn-sm btn-danger" ng-click="deleteProject(p.id)">Delete</button>
                    </div>
                </div>

                <div ng-if="showDetail">
                    <h4>{{ p.shortDesc }}</h4>

                    <p>{{ p.description }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>