<div class="row blog">
    <div class="col-sm-12">
        <div class="blog-header">
            <h3>{{ blog.title }}</h3>
            <small>Published on {{ date }}</small>
        </div>
        <p class="blog-short-desc">{{ blog.shortDesc }}</p>

        <div ng-repeat="p in blog.content" class="blog-section">
            <h4 ng-if="p.header">{{ p.header }}</h4>

            <p>{{ p.text }}</p>

            <div class="blog-section-images">
                <ng-repeat data-ng-repeat="i in p.images" class="blog-section-image">
                    <img ng-src="{{ i.url }}" alt="{{ i.label }}"/>
                    <label>{{ i.label }}</label>
                </ng-repeat>
            </div>
        </div>
        <p>{{ blog }}</p>
    </div>
</div>