<div class="contact-board clearfix">
    <div class="contact-social animate-show from-left col-md-8 social-half"
         ng-class="{'animate-show-active': social.linkedin}">
        <div class="linkedin">Linkedin</div>
    </div>
    <div class="contact-social animate-show from-right col-md-4 social-full pull-right"
         ng-class="{'animate-show-active': social.facebook}">
        <div class="facebook">Facebook</div>
    </div>
    <div class="contact-social animate-show from-bottom col-md-8 social-half"
         ng-class="{'animate-show-active': social.twitter}">
        <div class="twitter">Twitter</div>
    </div>
    <div class="contact-social animate-show from-left col-md-6 social-half"
         ng-class="{'animate-show-active': social.github}">
        <div class="github">GitHub</div>
    </div>
    <div class="contact-social animate-show from-right col-md-6 social-half"
         ng-class="{'animate-show-active': social.mail}">
        <div class="mail">Email</div>
    </div>
</div>